<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notekelompok10">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.TransNav">
        <activity android:name=".SplashActivity"><!-- WE WILL LAUNCH THIS ACTIVITY FIRST -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity><!-- END OF WE WILL LAUNCH THIS ACTIVITY FIRST -->
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ListActivity"></activity>
        <activity android:name=".NoteDetail"></activity><!-- ADD THIS ACTIVITY AND REBUILD PROJECT EVERYTIME YOU ADD NEW ACTIVITY -->
        <activity android:name=".ListDetail"></activity>
    </application>

</manifest>
